/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-top: 0px;
}

/* header, footer {
  text-align: center;
  padding: 1rem;
} */

/* header {
  position: relative;
  z-index: 10;
} */

/* footer {
  position: relative;
  width: 100%;
} */

/* @media screen and (max-width: 768px) {
  .App {
    padding: 10px;
  }
  .main-content {
    display: block;
  }
} */

/* App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes up at least the full viewport height */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
}

footer {
  height: 64px; /* Match the padding-bottom in main-content */
}

